.trmain{
    background-image: linear-gradient(lightpink, pink, mistyrose);
}
.trsecond{
    background-image: linear-gradient(saddlebrown, sienna, burlywood);
}
body{
    background-image: url("https://images.unsplash.com/photo-1519686997393-7bdb73d6c54d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4a032138a017a8a1f104622fe4b52cda&auto=format&fit=crop&w=1950&q=80");
}
.h2-header-modifier, .h6-section-modifier, .flavors{
    background-color: rgb(56, 15, 3);
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    color: white;
}
#ul-navbar{
    background-color: rgb(167, 9, 88);
    border-radius: 15px;
    padding: 20px;
}
.li-navbar{
    list-style: none;
    display: inline;
    margin-right: 20px;
}
.link-navbar{
    color: white;
}
.link-navbar:hover{
    text-decoration: none;
    background-image: linear-gradient(pink, lightpink, magenta);
    padding: 5px;
    border-radius: 5px;
    color: white;
}
.header_config{
    float: right;
}
.section-hidden{
    display: none;
}
.links_bombons{
    color: #333333;
}
.links_bombons:hover{
    text-decoration: none;
    background-color: rgb(182, 17, 141);
    color: #000000;
    border-radius: 5px;
}
tr td{
    text-align: center;
    border-radius: 20px;
}
.table.table-striped{
    border-collapse: separate;
}
.content{
    margin-left: 10%;
}
@media only screen and (max-width: 768px){
    
           .content { 
               margin-left: 0%; }
    
}
